@import url('https://fonts.cdnfonts.com/css/aquatico');                
*{
    text-decoration: none;
}
body{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'Aquatico', sans-serif;                      
    background: var(--background-color);
    color: var(--text-color);
    transition: background 1.2s;
}
html{
    scroll-behavior: smooth;
}
p{
    color: var(--text-color);
}
:root{
    --background-color:#fff;
    --text-color: #000;
    --title-color:#000;
    --destaq: #111111; 
}
.dark-theme{
    --background-color:#0b0b0b;
    --text-color: #fff;
    --title-color:#fff;
}
body.dark {
	background: linear-gradient(70deg,#212121,#000000);
	color:#fff ;
}
.menu-btn{
    color: #000;
    font-size: 18px;
    display: none;
    cursor: pointer;
}   
.logo a{
	color: var(--text-color);
    font-weight: 100;
    text-decoration: none;
    font-size: 30px;
    padding: 0px 0px 0px 10px;
}
#header{
display: flex;
justify-content: space-around;
align-items: center;
height: 75px;
}
#header ul{
    list-style: none;
    display: flex;
    padding: 10 10px;
    margin: 5px;
}
.checkbox{
	opacity: 0;
	position: absolute;
}
.label{
	background-color: #111;
	border-radius: 50px;
	cursor: pointer;
	display: flex;
	align-items: center;
	justify-content: space-between;
	padding: 5px;
	position: relative;
	height: 22px;
	width: 50px;
	transform: scale(1.5);
}
.label .ball{
	background-color: #fff;
	border-radius: 50%;
	position: absolute;
	top: 5.100px;
	left: 4px;
	height: 22px;
	width: 22px;
	transform: translateX(0px);
	transition: transform 0.2s linear;
}
.checkbox:checked + .label .ball{
	transform: translateX(32px);
}
.fa-moon{
	color: #f1c40f;
}
.fa-sun{
	color: #f39c12;
}
#header{
    width: 100%;
}
#header ul li{
    padding: 5px;
    position: relative;
}
#header ul li a{
    color: var(--text-color);
    text-decoration: none;
    font-size: 22px;
}
#procet{
    color:var(--title-color);
}
nav ul li a:after{
content: "";
position: absolute;
background-color: var(--text-color);
height: 3px;
width: 0%;
left: 0;
bottom: -10px;
transition: 0.3s;
}
nav ul li  a:hover:after{
    width: 100%;
}
 main{
    width: 99.80%;
    height: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
   
}
main .E,.D{
    width: 50%;
    height: 100vh;
   
}
main .D ,#Me{
    width: 80%;
    height: 0%;
    display: flex;
    justify-content: center;
    align-items: center;
}

main .E{
    display: grid;
    justify-content: center;
    align-items: center;
    
}
main .text {
    align-items: center;
    justify-content: center;
    font-size: 25px;
}
main h1{
    color: var(--title-color);
}
#icone a{
color: var(--title-color);
font-size: 28px;

}
 #linke:Hover{
    transition: 1.2s ease;
    color: #2b9eb3;
    
}
#git:hover{
    transition: 1.2s ease;
    color: #d54b1a;
}
#zap:hover{
    transition: 1.2s ease;
    color: #207f16;
}
section{
    width: 99.80%;
    height: 500px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.left,.right{
    width: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
}
#kevin{
width: 200px;
height: 200px;
border: 2px solid #fff;

border-radius:50%;
align-items: center;
background-image: url(/Portofolio2.0/img/Kevin.png);
background-size: 120%;
background-repeat: no-repeat;
background-color: var(--background-color);


}
.preloader{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    animation: rotate 500ms linear infinite;
}
.preloader i {
    font-size: 5em;
}
.right{
    width: 50%;
    align-items: center;
    display: flex;
    flex-direction: column;
    justify-items: center;
    
}
.right h2{
    align-items: center;
    font-size: 45px;
    font-weight: 200;
    text-shadow: 2px 4px 10px #c9c9c9;
}
.right p{
    text-align: start;
    align-items: center;
    font-size: 16px;
    padding: 3rem;
    margin: 12px;
    font-weight: bold;
    text-transform: uppercase;
    
}
.titulo{
    display: flex;
    justify-content: center;
}
#tituloH{
    text-align: center;
    padding-bottom: 15px;
}
#tituloH a{
    color: #000;
    text-decoration: none;
}
.title-projeto{
    display: flex;
    justify-content: center;
}
.Habilidades{
    width: 99.90;
    height: 20px;
    display: flex;
    justify-content: space-around;
    margin: 0px 15px;
    text-align: center;
    align-items: center;
    
}
.Habilidades i {
    margin: 5px;
    padding: 5px;
    border-radius: 5px;
}
.main-Ski{
    width: 99.00%;
    height: 50vh;
    display: flex;
    justify-content: space-around;
}
#Language{
    text-align: center;
    align-items: center;
    width: 99.40%;
    height: 80vh;
    text-transform: uppercase;
}
.linguagens{
    margin-top: 50px;
    font-size: 70px;
    display: flex;
    justify-content: center;
    gap: 30px;
}
.textoL{
    font-size: 16px;
}
.LPT{
    font-size: 20px;
    text-align: center;
    align-items: center;
    text-transform: uppercase;
}
.goLinke a{
    color: var(--text-color);
}
.card-container{
        width: 250px;
        height: 230px;
        box-shadow: 0 4px 8px 0 var(--title-color);
        background-color: var(--background-color);
        text-align: center;
        border-radius: 10px;
        margin-top: 16px;
        font-weight: bold;
        text-transform: uppercase;
        
}
.card-head{
    height: 80px;
    align-items: center;
    display: flex;
    justify-content: center;
}
.card-head i {
    text-align: center;
    align-items: center;
    color: var(--text-color);
    border-radius: 100%;
    font-size: 60px;
}
.card-main h3{
color: var(--title-color);
}
.card-footer{
    font-size: 14px;
    font-weight: 100;
    text-align: center;
    color: var(--background-color);
}
#Projetos{
    width: 99.00%;
   height: 90vh;
   margin-left: 10px;
   display: grid;
   gap: 30px;
   grid-template-columns: 1fr 1fr 1fr;
   justify-content: space-around;
   text-align: center;
}
.projeto-img img{
    width: 260px;
    height: 150px;
    border-radius: 14px;
    object-fit: cover;
    box-shadow: 2px 6px 12px var(--text-color);
}
.projeto-text{
    font-size: 15px;
}
.projeto-text a{
    color: var(--text-color);
    border: 1px solid var(--text-color);
    padding: 12px;
    border-radius: 16px;
}
.projeto-text a:hover{
    transition: 0.5s ease;
    background-color: var(--text-color);
    color: var(--background-color);
}
footer{
    width: 99%;
    height: 10vh;
    display: flex;
    justify-content: center;
    margin-top: 50px;
    align-items: center;
    
}
/* Extra small devices (phones, 600px and down) */
@media  screen and (max-width: 800px) {
     #header{
        width: 80vh;
    }
    .menu-btn{
        color: var(--text-color);
        display:block;
    }
    h1 {
        text-align: center;
    }
    #kevin{
        display: none;
    }
   nav ul {
    position: absolute;
    top: 60px;
    left: -200%;
    background-color: var(--background-color);
    height: 100vh;
    width: 86%;
    text-align: center;
    display: flex;
    flex-wrap: wrap;
    transition: all 1.3s ease;
   }
   nav ul.open{
    left: 0;
    width: 100vh;
   }
   nav ul li{
    width: 100%;
    margin: 50PX 0;
   }
   nav ul li a{
    font-size: 23px;
    color: var(--text-color);
   }
   
nav ul li a:hover{
    color: #202020;
}
.D #Me img{
    display: none;
   
}
main .D {
    width:0%;
}
main .E{
    width: 80vh;
   align-items: center;
   display: flex;
   justify-content: center;
   
}
 section #Eu{
    width: 100vh;
    border: 1px solid red;
    display: flex;
    justify-content: center;

}
section .left{
    display: none;
    
}

main .E #icone{
    display: flex;
    justify-content: space-evenly;
}
section , .right h2{
    font-size: 40px;
    
}
section, .right p{
    display: flex;
    
    text-align: start;
}
.teste p{
    display: flex;
    justify-content: center;
    
}

#S{
    width: 100%;
}
.main-Ski{
    display: grid;
    flex-direction: column;
    height: 100vh;
    margin-bottom: 16px;
}
#Language{
    height: 100vh;
}
.LPT{
    font-size: 12px;
}
.card-container{
    width: 150px;
    height: 260px;
}
.linguagens{
    display: grid;
    grid-template-columns: 1fr 1fr;
}
#Projetos{
    display: flex;
    flex-direction: column;
    justify-content: center;
    height: 120vh;   
    text-align: center;
    align-items: center;
}
.projeto-img img{
    width: 150px;
    height: 100px;
}
.projeto-text{
    font-size: 13px;
}
footer{
    height: 15%;
}
@media screen  and (max-width: 420px){
    #header{
        display: flex;
        justify-content: center;
        gap: 30px;
    }
    .text{
        display: flex;
        flex-direction: column;
        text-align: center;
    }
    #Center{
        display: flex;
        justify-content: center;
    }
    #Eu{
        text-align: center;
        width: 100vh;
        align-items: center;
        display: flex;
        justify-content: center;
    }
    #Language{
        display: grid;
        justify-content: center;
        height: 120vh;
    }
    #Projetos{
        height: 100vh;
        width: 100vh;
        display: grid;
        grid-template-columns: auto;
        font-size: 1px;
    }
    .textoL{
        font-size: 10px;
    }
    .LPT{
        font-size: 9px;
    }
    .projeto-img img{
        width: 100px;
        height: 50px;
    }
    .projeto-text{
        width: 100%;
        font-size: 14px;
        text-align: center;
        align-items: center;
    }
    footer{
        height: 30vh;
        font-size: 12px;
    }
}/*mobile*/
@media  screen and (max-width: 320px) {
    #header{
       width: 96.60%;
       font-size: 12px;
       text-align: center;
       display: flex;
       justify-content: center;
       gap: 1px;
      
    
   }
   .menu-btn{
       color: var(--text-color);
       display:block ;
       padding-right: 30px;
   }
   h1 {
    text-align: center;
}
  nav ul {
   position:absolute;
   top: 60px;
   left: -200%;
   background-color: var(--background-color);
   height: 100vh;
   width: 90%;
   text-align: center;
   display: flex;
   flex-wrap: wrap;
   transition: all 1.3s ease;
   overflow:hidden;
  }
  nav ul.open{
   left: 0;
  }
  nav ul li{
   width: 100%;
   margin: 50PX 0;

  }
  nav ul li a{
   font-size: 23px;
   color: var(--text-color);
  }
.D #Me img{
   display: none;
  
}
main .E{
   width: 98.60%;
  align-items: center;
  text-align: center;
}
section .left{
   display: none;
   
}
section .left, img{
  width: 150px;
}
main .E #icone{
   display: flex;
   justify-content: space-evenly;
}
section, .right h2{
   font-size: 20px;
   
}
section .right{
    width: 100%;
}
.right p{
    font-size: 15px;
    font-weight: 900;
    text-align: start;
}
#iconH1 img{
   width: 120px;
}
#S{
   width: 100%;
}
.main-Ski{
    display: grid;
    flex-direction: column;
    height: 100vh;
    margin-bottom: 16px;
}
#Language{
    height: 100vh;
}
.LPT{
    font-size: 12px;
}
.card-container{
    width: 150px;
    height: 260px;
}
.linguagens{
    display: grid;
    grid-template-columns: 1fr 1fr;
}
#Projetos{
    display: flex;
    flex-direction: column;
    justify-content: center;
    height: 120vh;   
    text-align: center;
    align-items: center;
}
.projeto-img img{
    width: 100px;
    height: 50px;
}
.projeto-text{
    font-size: 15px;
}
footer{
    height: 15%;
}
}
@media  screen and (max-width: 480px) {
.right p{
    font-size: 13px;
    font-weight: 900;
}
#kevin{
    width: 110px;
    height: 110px;
}
#header{
    width: 90%;
    padding-left: 2.75%;
}
.text{
    text-align: center;
}
#left{
display: none;
}
body{
    display: grid;
    justify-content: center;
}
#icone{
    width: 120px;
    display: flex;
    justify-content: space-around;
}
}
}